header {
    background-color: var(--cor-white);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
}

header.sticky {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.074), 0 6px 20px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.015), 0 6px 20px 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #f4f4f4;
    z-index: 2;
    width: 100%;
    position: fixed;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0 10px;
}

nav a {
    text-decoration: none;
    color: var(--cor-background);
    font-weight: 400;
    position: relative;
}

nav a::after{
    content: "";
    position: absolute;
    background-color: var(--cor-principal);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav a:hover:after{
    width: 100%;
}

nav span {
    text-decoration: none;
    color: var(--cor-principal);
    font-weight: 500;
}

.contentAccess {
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.contentAccess img {
    width: 15px;
    height: auto;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 20px;
        padding: 10px 0;
    }

    nav {
        gap: 20px;
    }

    nav a::after {
        bottom: -5px;
    }
}

@media (max-width: 480px) {
    header {
        gap: 10px; 
        padding: 5px 0; 
    }

    nav {
        flex-direction: column; 
        align-items: center; 
    }

    nav a::after {
        bottom: -3px;
    }

    nav a, nav span {
        font-size: 14px;
    }
}